<body>
    <div class="login-container">
        <h2>Login</h2>
        <form (submit)="onLogin()">
            <!-- <div class="input-group"> -->
                <div class="input-group">
                    <label for="username">Username</label>
                    <input 
                        pInputText 
                        id="username" 
                        aria-describedby="username-help" 
                        name="username"
                        [(ngModel)]="email" />
                </div>
            <!-- </div> -->
            <div class="input-group">
                <label for="password">Password</label>
                <p-password [(ngModel)]="password" id="password"  name="password" [feedback]="false" />
            </div>
            <button type="submit" >Masuk</button>
            <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        </form>
    </div>
</body>